@font-face {
  font-family: orbitron;
  src: url("./../resources/fonts/Orbitron-VariableFont_wght.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: orbitron, "arial";
  background-color: lightgrey;
  background-color: #ff6500;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.23'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#app {
  border: 0px red solid;
  height: 100%;
}

.credits {
  color: #023e8a;
}

.credits:hover {
  text-decoration: none;
  color: #d00000;
}

#calculator {
  border: 5px black solid;
  background-color: lightgrey;
}

#calculator #screen,
#calculator #display {
  border: 0px green solid;
  background-color: black;
  padding: 0.25em;
  min-height: 2em;
}

#calculator #display {
  color: white;
  font-size: 1.25em;
}

#calculator #screen {
  color: #ebc034;
}

#calculator #controls {
  margin: 0em;
}

#calculator #controls #clear {
  background-color: #ebc034;
}

#calculator #controls #clear:hover {
  background-color: #d7a915;
}

#calculator #controls #add,
#calculator #controls #subtract,
#calculator #controls #multiply,
#calculator #controls #divide {
  background-color: #2e6dd1;
}

#calculator #controls #add:hover,
#calculator #controls #subtract:hover,
#calculator #controls #multiply:hover,
#calculator #controls #divide:hover {
  background-color: #2557a7;
}

#calculator #controls #equals {
  background-color: #bf2121;
}

#calculator #controls #equals:hover {
  background-color: #941919;
}

#calculator #controls #left_bracket,
#calculator #controls #right_bracket {
  background-color: #bebebe;
}

#calculator #controls #left_bracket:hover,
#calculator #controls #right_bracket:hover {
  background-color: #b1b1b1;
}

#calculator #controls .button {
  background-color: #a0a0a0;
  min-width: 2em;
  margin: 0.5em 0em;
  border: none;
  border-radius: 0.25em;
  font-weight: bold;
}

#calculator #controls .button:hover, #calculator #controls .button:focus {
  outline: none;
  background-color: #939393;
}
/*# sourceMappingURL=main.css.map */